//create the personal information.

.introduction {
  padding-top: 80px;
  margin-bottom: 150px;
  &__spam {
    color: $green;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0.9px;
  }
  &__title {
    font-size: 84px;
    color: $orange;
  }
  &__paragraph {
    width: 80%;
    font-size: 28px;
  }
}
